*{box-sizing: border-box;}
div{
  padding:10px;
}
 #festo img{
  padding: 5px;
  border: 5px double black;
  margin: auto;
}
#festo{
  border:3px inset black;
  background-color:rgb(37, 83, 83);
}
#info {
  border:2px inset white;
  color:white;
}
.erdekesseg{
  border: 2px inset white;
  color:black;
  background-color: #2b4f5f;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#charles{
  background-color: #2b4f5f;
}
h1{
  text-align: center;
}
.festmeny{
  border:2px inset white;
  background-color: #2b4f5f;
}
.festmeny div img{
  padding:5px;
  border:6px double black;
  margin:15px;
}
article div{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.fest{
    text-align: center;

}

 .article1{
  text-align: center;
  background-color: rgb(214, 155, 65);
  display: grid;
  grid-template-columns: 1fr;
 } 
 .temak{
  
  font-family: Arial, Helvetica, sans-serif;
  
 }
 .q{
  width: 300px;
  height: 255px;
  border:  solid 2px;
  margin: auto;
 
 }

.kezdo{
  font-family: fantasy;
  font-size: 25px;
  padding: 15px;
  background: url(SzBkepek/kezdolap.jpg);
  text-align: center;
  
}
header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    grid-area: n;
}

article {
grid-area: a;
display: grid;
grid-template-columns: 2fr 2fr;
}

footer {
    grid-area: f;
}

main {
    display: grid;
    grid-template-areas:
    'h h h'
    'n n n'
    'a a a'
    'f f f'
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    cursor:grab;
    background-color:bisque;
    color:black;
  }








