
.fest{
    text-align: center;
}

header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    grid-area: n;
}

article {
grid-area: a;
display: grid;
grid-template-columns: 2fr 2fr;
}

footer {
    grid-area: f;
}

main {
    display: grid;
    grid-template-areas:
    'h h h'
    'n n n'
    'a a a'
    'f f f'
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }







